@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  box-sizing: border-box;
}

body {
  background-color: gold;
}

#quote-box {
  text-align: center;
  width: 30vw;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  position: relative;
  height: auto;
  margin: 250px auto;
  padding: 30px;
  align-items: center;
  background-color: aliceblue;
}

.quote-text {
  font-size: 2em;
  background-color: aliceblue;
}

.quote-author {
  display: block;
  font-size: 1.2em;
  text-align: right;
  margin-bottom: 15px;
  margin-top: 15px;
}

.link-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
}
button:hover {
  opacity: 0.9;
}

a {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 3px;
}

a:hover {
  opacity: 0.9;
}
